# Ignore bundler config.
/.bundle

# Ignore rspec options.
/.rspec

# Keep these out of the repo (TODO: where to put them).
/db/seed/*
!/db/seed/example.json

# Ignore sensitive credentials.
/config/database.yml
/.env

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
