<footer>
  <p>
    PublicInbox uses
    <%= link_to('Rails', 'http://rubyonrails.org/') %>,
    <%= link_to('Mailgun', 'http://www.mailgun.com/') %>, and
    <%= link_to('Heroku', 'http://www.heroku.com/') %>.
  </p>
  <p><%= link_to('Source on GitHub', 'https://github.com/dtao/PublicInbox') %></p>
</footer>
