<p>This is just a random idea I had, which I am trying out for fun. Consider it a very tenuous work in progress.</p>
<p>To reach me (Dan) at a more reliable e-mail address (!), try <a href="mailto:daniel.tao@gmail.com">daniel.tao@gmail.com</a>.</p>
