<!-- AddThis sharing buttons -->
<!-- Wrap in a div to support horizontal centering -->
<div>

  <!--
    Each button is float: left so to center the container we need to make it
    inline-block and set margin: auto -->
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style"
    style="display: inline-block; margin: auto;">

    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google_plusone_share"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>

  </div>

</div>

<script defer type="text/javascript"
  src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-525084f05b816ebf"></script>
