<section id="inbox" data-title="Inbox" ng-show="isActiveSection('inbox')">
  <p ng-hide="inbox.length">
    You don't have any messages!
  </p>

  <ul class="message-list">
    <li ng-repeat="message in inbox">
      <a href="/messages/{{message.id}}" ng-click="showMessage(message, $event)">
        <div class="picture">
          <img ng-src="{{message.profile_image}}" />
        </div>
        <div class="info">
          <div class="sender_email">{{message.sender_email}}</div>
          <h3 class="subject">{{message.subject}}</h3>
          <div class="created">{{message.created_at}} ago</div>
        </div>
      </a>
    </li>
  </ul>
</section>
