<section id="inbox">
  <h2>Inbox</h2>

  <table>
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Received</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="message in inbox">
        <td>
          <img ng-src="{{message.sender_image}}" />
          <a href="mailto:{{message.sender_email}}">{{message.sender_email}}</a>
        </td>
        <td><a href="/messages/{{message.id}}" ng-click="showMessage(message, $event)">{{message.subject}}</a></td>
        <td>{{message.created_at}} ago</td>
      </tr>
    </tbody>
  </table>
</section>
