<section id="mailbox">
  <header>
    <h1>
      Mailbox
      <div class="batch-select">
        <button class="batch-select"
          ng-show="selection.length < threads.length"
          ng-click="ctrl.batchSelect()">
          Select all
        </button>
        <button class="batch-deselect"
          ng-show="selection.length > 0"
          ng-click="ctrl.batchDeselect()">
          Deselect all
        </button>
      </div>
      <div class="batch-actions" ng-show="selection.length">
        <button class="batch-open" ng-click="ctrl.batchRead()">Mark {{selection.length}} as read</button>
        <button class="batch-delete" ng-click="ctrl.batchDelete()">Delete {{selection.length}}</button>
      </div>
    </h1>
  </header>

  <p ng-hide="threads.length || app.state === 'loading'">
    You don't have any messages!
  </p>

  <ul class="message-list">
    <li ng-repeat="thread in threads | orderBy:'timestamp':true"
      ng-init="message = thread.lastMessage">

      <a href="/ui/messages/{{thread.threadId}}"
        class="{{message.type}}-message"
        ng-class="{current: thread == currentThread}"
        data-opened="{{thread.opened}}"
        data-selected="{{ctrl.threadIsSelected(thread)}}">

        <div class="selection"
          ng-click="ctrl.toggleSelection(thread, $event);">
        </div>

        <div class="picture">
          <img ng-src="{{message.profile_image}}" />
        </div>
        <div class="info">
          <div class="created">
            {{thread.messages.length | count:'message'}}<br />
            last {{message.created_at}} ago
          </div>
          <h4 class="subject">{{message.subject}}</h4>
          <div class="display_email" data-preposition="{{message.preposition}}">{{message.display_email}}</div>
        </div>
      </a>
    </li>
  </ul>

  <p>
    <button class="load-more" ng-click="ctrl.loadMoreMessages()">Load more</button>
  </p>

</section>
