<section id="message" data-title="Message" ng-show="isActiveSection('message')">
  <h3>
    <span class="reply-to" data-preposition="{{message.preposition}}">
      <a href="mailto:{{message.reply_to}}">{{message.reply_to}}</a>
    </span>
    <small><%= link_to('Back', '#mailbox') %></small>
  </h3>

  <article ng-bind-html="message.body"></article>

  <p>
    <button ng-click="replyToMessage(message)">Reply</button>
    <button class="delete" ng-click="deleteMessage(message)">Delete</button>
  </p>
</section>
