<section id="message" data-title="Message" ng-show="isActiveSection('message')">
  <h2>{{message.subject}}</h2>

  <div ng-bind-html="message.body"></div>

  <p>
    <button ng-click="replyToMessage(message)">Reply</button>
    <button class="delete" ng-click="deleteMessage(message)" ng-show="!!message.sender_email">Delete</button>
  </p>
</section>
