<section id="message" data-title="Message from {{message.display_email}}" ng-show="isActiveSection('message')">
  <h2>{{message.subject}}</h2>

  <p>
    {{message.body}}
  </p>

  <p>
    <button ng-click="replyToMessage(message)">Reply</button>
  </p>
</section>
