<section id="outbox">
  <h2>Outbox</h2>

  <table>
    <thead>
      <tr>
        <th>To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="message in outbox">
        <td>
          <img ng-src="{{message.recipient_image}}" />
          <a href="mailto:{{message.recipient_email}}">{{message.recipient_email}}</a>
        </td>
        <td><a href="/messages/{{message.id}}" ng-click="showMessage(message, $event)">{{message.subject}}</a></td>
        <td>{{message.created_at}} ago</td>
      </tr>
    </tbody>
  </table>
</section>
