<section id="outbox" data-title="Outbox" ng-show="isActiveSection('outbox')">
  <p ng-hide="inbox.length">
    You haven't sent any messages!
  </p>

  <ul class="message-list">
    <li ng-repeat="message in outbox">
      <a href="/messages/{{message.id}}" ng-click="showMessage(message, $event)">
        <div class="picture">
          <img ng-src="{{message.profile_image}}" />
        </div>
        <div class="info">
          <div class="recipient_email">{{message.recipient_email}}</div>
          <h3 class="subject">{{message.subject}}</h3>
          <div class="created">{{message.created_at}} ago</div>
        </div>
      </a>
    </li>
  </ul>
</section>
