<section id="thread">
  <header ng-hide="app.state === 'loading'">
    <h1>
      <small><a class="back-link" href="/ui/mailbox"></a></small>
      {{thread.heading}}
      <small><a href="{{thread.permalink}}" class="share-link" target="_top">share</a></small>
    </h1>
  </header>

  <h3 ng-hide="app.state === 'loading'">{{thread.messages.length | count:'Message'}}</h3>

  <article class="message" ng-repeat="message in thread.messages | orderBy:'timestamp'">
    <h4>
      <img ng-src="{{message.sender_image}}" />
      <span class="sender-name">{{message.sender_name}}</span>
      <a href="mailto:{{message.sender_email}}">{{message.sender_email}}</a>
      <small>{{message.created_at}} ago</small>
    </h4>
    <div pi-message-container ng-model="message"></div>
  </article>

  <p>
    <button class="reply" ng-click="ctrl.replyToMessage(thread.lastMessage)">Reply</button>
    <button class="delete" ng-click="ctrl.deleteMessage(thread.lastMessage)">Delete</button>
  </p>
</section>
