<section id="thread">
  <header>
    <h1>Thread</h1>
  </header>

  <h3>
    {{thread.messages.length | count:'Message'}}
    <small><%= link_to('Back', '/ui/mailbox') %></small>
  </h3>

  <article class="message" ng-repeat="message in thread.messages | orderBy:'timestamp'">
    <h4>
      {{message.preposition}}
      <a href="mailto:{{message.display_email}}">{{message.display_email}}</a>
      <small>{{message.created_at}} ago</small>
    </h4>
    <div pi-message-container ng-model="message"></div>
  </article>

  <p>
    <button class="reply" ng-click="ctrl.replyToMessage(thread.lastMessage)">Reply</button>
    <button class="delete" ng-click="ctrl.deleteMessage(thread.lastMessage)">Delete</button>
  </p>
</section>
