<section id="about" data-title="About">
  <p>This is just a random idea I had, which I am trying out for fun. Consider it a very tenuous work in progress.</p>
  <p>To reach me (Dan) at a more reliable e-mail address (!), try <a href="mailto:daniel.tao@gmail.com">daniel.tao@gmail.com</a>.</p>
  <p>You must <%= link_to('Log in', login_path) %> to continue.</p>
</section>
