<section id="about" data-title="About">
  <p>Think of PublicInbox as like public conversations on Twitter, but in e-mail form. (So longer.)</p>
  <p>You must <%= link_to('Log in', login_path) %> to continue.</p>
</section>
