<%= render(:partial => 'inbox') %>
<%= render(:partial => 'compose') %>
<%= render(:partial => 'outbox') %>

<section id="profile">
  <p>This is your profile.</p>
</section>

<section id="about">
  <p>Think of PublicInbox as like public conversations on Twitter, but in e-mail form. (So longer.)</p>
</section>
