<section id="inbox">
  <p>This is your inbox.</p>
</section>

<section id="outbox">
  <p>This is your outbox.</p>
</section>

<section id="profile">
  <p>This is your profile.</p>
</section>

<section id="about">
  <p>Think of PublicInbox as like public conversations on Twitter, but in e-mail form. (So longer.)</p>
</section>
