<div ng-controller="MessagesCtrl">
  <%= render(:partial => 'inbox') %>
  <%= render(:partial => 'compose') %>
  <%= render(:partial => 'outbox') %>
  <%= render(:partial => 'message') %>
</div>

<section id="profile">
  <p>This is your profile.</p>
</section>

<section id="about">
  <p>Think of PublicInbox as like public conversations on Twitter, but in e-mail form. (So longer.)</p>
</section>
