//= require codemirror

@import "readable";
@import "font-awesome";

@mixin page-header {
  @extend .page-header;

  h1 em {
    @extend .text-muted;
    font-style: normal;
  }

  h1 small {
    text-transform: none;
    white-space: nowrap;
  }

  p {
    @extend .lead;
  }

  img {
    vertical-align: bottom;
  }
}

@mixin transition($property, $duration: 1s) {
  transition: $property $duration;
  -moz-transition: $property $duration;
  -o-transition: $property $duration;
  -webkit-transition: $property $duration;
}

@mixin calc($property, $value) {
  #{$property}: calc(#{$value});
  #{$property}: -moz-calc(#{$value});
  #{$property}: -webkit-calc(#{$value});
}

@mixin icon($name) {
  @extend .fa, .fa-#{$name};
}

@mixin contains-icon($name) {
  @include icon($name);

  &:before {
    margin-right: 1em;
  }
}

@mixin empty-placeholder($content) {
  &:empty:before {
    content: $content;
  }
}

$desktop-width: 750px + 252px;
$widescreen-width: 1170px + (252px * 2);
$nav-panel-width: 240px;
$nav-panel-padding: 20px;
$nav-panel-border-width: 12px;

@mixin mobile {
  @media all and (max-width: $desktop-width - 1) {
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: $desktop-width) {
    @content;
  }
}

@mixin widescreen {
  @media all and (min-width: $widescreen-width) {
    @content;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body[data-state="loading"] {
  &:after {
    content: "";

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #fff image-url("loading.gif") no-repeat center;
    opacity: 0.5;
    z-index: 100;
  }
}

body > main > nav {
  @include transition(right, 0.5s);

  position: fixed;
  top: 0;
  bottom: 0;
  width: $nav-panel-width;
  padding: $nav-panel-padding;

  border-right: $nav-panel-border-width solid black;
  background-color: #fff;

  // Keep above <main>, below <footer>
  z-index: 1;

  ul {
    @extend .nav, .nav-stacked;

    // Keep above <footer>
    // TODO: Actually, this doesn't work. Revisit this at some point.
    z-index: 3;

    li {
      @extend h4;

      a[href='#mailbox'] span.unread-count {
        @extend .badge, .pull-right;

        float: right;
        vertical-align: top;
      }
    }
  }

  @include mobile {
    right: -$nav-panel-width - $nav-panel-padding;

    border-left: $nav-panel-border-width solid black;
    border-right: none;

    &.revealed {
      right: 0;
    }
  }

  @include desktop {
    left: 0;
  }
}

button.expand-nav {
  @include icon(list);

  position: absolute;
  top: 10px;
  right: 10px;

  font-size: 200%;
  background-color: #fff;
  border: #fff;
  color: #000;

  @include desktop {
    visibility: hidden;
  }
}

body > main {
  @extend .container;

  min-height: calc(100% - 40px);

  @include desktop {
    margin-left: $nav-panel-width + ($nav-panel-padding * 2);

    @include calc(max-width, "100% - #{$nav-panel-width + 52px}");
  }

  @include widescreen {
    width: auto;
    margin-right: $nav-panel-width + ($nav-panel-padding * 2) + $nav-panel-border-width;
  }

  & > header {
    @include page-header;
  }
}

body > main > footer {
  @extend .small, .text-muted;

  p {
    margin-bottom: 1ex;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    position: fixed;
    display: block;
    bottom: 20px;
    left: 20px;
    width: $nav-panel-width - ($nav-panel-padding * 2) - $nav-panel-border-width;

    // No padding since we're using fixed positioning
    padding: 0;

    // Keep above <nav> but below <ul>
    z-index: 2;
  }
}

nav {
  a[href="#login"] {
    color: #5cb85c;
  }

  a[href="/logout"] {
    color: #d9534f;
  }
}

a[href="/auth/google_oauth2"],
a[href="/auth/facebook"],
a[href="/auth/twitter"] {
  color: #fff;
}

a[href="/auth/google_oauth2"] {
  @extend .btn;
  background-color: #C61800;
  @include contains-icon(google-plus);
}

a[href="/auth/facebook"] {
  @extend .btn;
  background-color: #3B5998;
  @include contains-icon(facebook);
}

a[href="/auth/twitter"] {
  @extend .btn;
  background-color: #30D8F0;
  @include contains-icon(twitter);
}

table {
  @extend .table;

  th, td {
    vertical-align: middle !important;
  }

  th:last-child, td:last-child {
    text-align: right;
  }
}

form .field {
  @extend .form-group;
}

input[type="text"], input[type="password"], textarea {
  @extend .form-control;
}

input[type="submit"] {
  @extend .btn, .btn-sm, .btn-primary;
}

button {
  @extend .btn, .btn-sm, .btn-default;

  &.reply {
    @include contains-icon(reply);
  }

  &.delete {
    @extend .btn-danger;
  }
}

ul.message-list {
  @extend .list-group;

  list-style: none;

  li > a {
    @extend .list-group-item, .media;

    .picture {
      img { @extend .media-object; }
    }

    .info {
      @extend .media-body;

      h3.subject {
        @extend .list-group-item-heading;
        @include empty-placeholder("[No subject]");
      }

      .display_email:before {
        @extend .text-muted;
        font-size: 80%;
      }

      .display_email:before {
        content: attr(data-preposition) ": ";
      }

      .created {
        @extend .list-group-item-text, .small, .text-muted;
      }
    }

    &.incoming-message {
      text-align: left;

      .picture {
        @extend .pull-left;
      }

      .info {
        padding-left: 15px;

        .created {
          float: right;
        }
      }
    }

    &.outgoing-message {
      text-align: right;

      .picture {
        @extend .pull-right;
      }

      .info {
        padding-right: 15px;

        .created {
          float: left;
        }
      }
    }

    &[data-opened="true"] {
      .info {
        @extend .text-muted;

        h3.subject {
          @extend .text-muted;

          font-weight: normal;
        }
      }
    }
  }

  @include mobile {
    li > a {
      .picture { display: none; }
    }
  }
}

#profile {
  .info {
    h2.user-name small {
      display: block;
    }
  }
}

#message {
  & > h3 {
    margin-bottom: 40px;

    .reply-to:before {
      @extend .small, .text-muted;
      content: attr(data-preposition) " ";
    }
  }

  article {
    font-size: 150%;

    @include mobile {
      font-size: 125%;
    }
  }
}

#notice {
  @extend .alert, h5;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  // Undo Bootstrap's margin and padding from .alert
  margin-bottom: 0;
  padding: 0;

  // Explicitly set the height for animation purposes
  height: 50px;
  line-height: 50px;

  // COVER EVERYTHING
  z-index: 101;

  &:empty {
    display: none;
  }

  &.info { @extend .alert-info; }
  &.success { @extend .alert-success; }
  &.warning { @extend .alert-warning; }
  &.error { @extend .alert-danger; }

  &[data-state="hiding"] {
    bottom: -50px;
  }

  @include transition(bottom, 1s);
}

.CodeMirror {
  @extend textarea;

  height: auto;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 200px;
}

.CodeMirror-scroll {
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-focused {
  @extend .form-control:focus;
}

body[data-page="blog"] {
  ul.post-list {
    @extend .list-group;

    list-style: none;

    li > a {
      @extend .list-group-item;

      h3.title {
        @extend .list-group-item-heading;
      }

      small {
        @extend .list-group-item-text, .text-muted;
      }
    }
  }

  article {
    font-size: 150%;
    margin: auto;
    padding: 10px;

    & > header {
      @include page-header;

      h1 small a {
        font-weight: 300;
      }
    }

    @include mobile {
      font-size: 125%;
    }
  }

  @media all and (min-width: 960px) {
    article {
      min-width: 940px;
      width: 60%;
    }
  }
}
