//= require codemirror
//= require nav
//= require mailbox
//= require profile

@import "readable";
@import "_const";
@import "_mixins";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body[data-state="loading"] {
  &:after {
    content: "";

    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: #fff image-url("loading.gif") no-repeat center;
    opacity: 0.5;
    z-index: 100;
  }
}

body > main {
  @extend .container;

  min-height: calc(100% - 40px);

  @include desktop {
    margin-left: $nav-panel-width + ($nav-panel-padding * 2);

    @include calc(max-width, "100% - #{$total-nav-width}");
  }

  @include widescreen {
    width: auto;
    margin-right: $total-nav-width;
  }

  & > header {
    @include page-header;
  }
}

#templates {
  display: none;
}

body > main > footer {
  @extend .small, .text-muted;

  p {
    margin-bottom: 1ex;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include desktop {
    position: fixed;
    display: block;
    bottom: 20px;
    left: 20px;

    // I'm not going to pretend to understand this
    width: $nav-panel-width - ($nav-panel-padding * 2) - $nav-panel-border-width;

    // No padding since we're using fixed positioning
    padding: 0;

    // Keep above <nav> but below <ul>
    z-index: 2;
  }
}

nav {
  a[href="#login"] {
    color: #5cb85c;
  }

  a[href="/logout"] {
    color: #d9534f;
  }
}

table {
  @extend .table;

  th, td {
    vertical-align: middle !important;
  }

  th:last-child, td:last-child {
    text-align: right;
  }
}

form .field {
  @extend .form-group;
}

input[type="text"], input[type="password"], textarea {
  @extend .form-control;
}

input[type="submit"] {
  @extend .btn, .btn-sm, .btn-primary;
}

button {
  @extend .btn, .btn-sm, .btn-default;

  &.reply, &.delete {
    // Without these the buttons get squashed.
    line-height: 1.5;
  }

  &.reply {
    @include button-with-icon(reply);
  }

  &.delete {
    @extend .btn-danger;
    @include button-with-icon(trash-o);
  }

  &.add-cc-or-bcc {
    @extend .btn-xs, .btn-info;

    margin-bottom: 15px;
  }
}

.batch-actions {
  margin-bottom: 15px;

  &:before {
    @extend h3;

    display: block;
    content: "Bulk actions";
  }

  .batch-open {
    @extend .btn, .btn-info;
  }

  .batch-delete {
    @extend .btn, .btn-danger;
  }
}

#message {
  & > h3 {
    margin-bottom: 40px;

    .reply-to:before {
      @extend .small, .text-muted;
      content: attr(data-preposition) " ";
    }
  }

  article {
    font-size: 150%;
  }

  iframe {
    border: none;
    height: auto;
    width: 100%;

    @include mobile {
      font-size: 125%;
    }
  }
}

#notice {
  @extend .alert, h5;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  // Undo Bootstrap's margin and padding from .alert
  margin-bottom: 0;
  padding: 0;

  // Explicitly set the height for animation purposes
  height: 50px;
  line-height: 50px;

  // COVER EVERYTHING
  z-index: 101;

  &:empty {
    display: none;
  }

  &.info { @extend .alert-info; }
  &.success { @extend .alert-success; }
  &.warning { @extend .alert-warning; }
  &.error { @extend .alert-danger; }

  &[data-state="hiding"] {
    bottom: -50px;
  }

  @include transition(bottom, 1s);
}

.CodeMirror {
  @extend textarea;

  height: auto;
}

.CodeMirror, .CodeMirror-scroll {
  min-height: 200px;
}

.CodeMirror-scroll {
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.CodeMirror-focused {
  @extend .form-control:focus;
}

body[data-page="blog"] {
  ul.post-list {
    @extend .list-group;

    list-style: none;

    li > a {
      @extend .list-group-item;

      h3.title {
        @extend .list-group-item-heading;
      }

      small {
        @extend .list-group-item-text, .text-muted;
      }
    }
  }

  article {
    font-size: 150%;
    margin: auto;
    padding: 10px;

    & > header {
      @include page-header;

      h1 small a {
        font-weight: 300;
      }
    }

    @include mobile {
      font-size: 125%;
    }
  }

  @media all and (min-width: 960px) {
    article {
      min-width: 940px;
      width: 60%;
    }
  }
}
