@import "_mixins";

main > header {
  h1 a.back-to-site {
    @include icon(arrow-left);
  }
}

article.message {
  h4 {
    .sender:after {
      display: inline-block;
      content: "\2192";
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
}
