@import "readable";
@import "_mixins";

main > header {
  h1 a.back-to-site {
    @include icon(arrow-left);
  }
}

article.message {
  h4 {
    position: relative;
    height: 60px;
    padding-left: 60px;

    img {
      position: absolute;
      left: 0;
    }

    small { display: block; }
  }

  &:nth-of-type(n+2) {
    border-top: 1px solid #eeeeee;
  }
}
