@import "_mixins";

#thread {
  header {
    h1 {
      a:hover {
        @extend a:hover;
        text-decoration: none;
      }

      a.back-link { @include icon(arrow-left); }
      a.share-link { @include button-with-icon(share); }
    }
  }

  article.message {
    h4 {
      @extend .clearfix;

      img { float: left; margin-right: 0.5em; }
      small { display: block; }
    }
  }
}
