<!DOCTYPE html>
<html ng-app="PublicInbox">

<head>
    <title>PublicInbox</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag("application") %>
    <%= favicon_link_tag %>
</head>

<body>
    <main class="container">
        <%= yield %>
    </main>
</body>

</html>
